# Server Configuration
PORT=5000

# MQTT Broker Configuration
MQTT_HOST=127.0.0.1
MQTT_PORT=8883
MQTT_USERNAME=admin
MQTT_PASSWORD=public
MQTT_TOPIC=iaq/data

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/iaq_monitoring
